@{
    ViewBag.Title = "Sobre";
}
<h3>Quem somos</h3>
<br />
<p>A Mercado Natural foi fundada em 2018 com o objetivo de oferecer produtos de qualidade e super frescos para as famílias portuguesas.</p>
<p>Nossa missão é trazer qualidade de vida aos nossos clientes.</p>
