@{
    ViewBag.Title = "Contacto";
}
<h3>Contacto</h3>

<address>
    Rua Dr. Eduardo Neves 3<br />
    Lisboa, Portugal<br />
    <abbr title="Telefone">Contacto:</abbr>
    235487612
</address>

<address>
    <strong>Apoio ao cliente:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>