
@{
    ViewBag.Title = "SemPermissao";
}
<hr>
<p>Sem permissão para realizar esta ação.</p>

<div>
    @Html.ActionLink(
            linkText: "Voltar",
            actionName: "Index",
            controllerName: "Produtos"
            )
</div>